.nav_component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: #d91a36;
  height: 4em;
  .container_first_options {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    padding-left: 3em;
    height: 100%;
    img {
      box-shadow: inset 20em 1em white;
      height: 40px;
      width: 170px;
      margin-right: 3em;
    }
    .list_opts {
      display: flex;
      gap: 2em;
      .link {
        display: flex;
        align-items: center;
        padding: 2em;
      }
      .activeLink {
        background-color: #941225;
      }
      div > a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .user_opts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 9px;
    width: 12%;
    & > .user_img {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      img {
        border-radius: 50%;
        width: 3em;
        object-fit: contain;
      }
    }
  }
}

.header_users{
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  button {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}
.list_users{
  padding: 0 3em;
  table{
    width: 100%;
    margin-top: 2em;
    th {
      background-color: grey;
    }
    td {
      text-align: center;
    }
  }
}