<nav class="nav_component">
    <div class="container_first_options">
        <img src="../../assets/logo_sensomatic_lg.jpeg" width="153" alt="logo sensomatic" class="sensomatic">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5odgIQL-3mXPdsm4jk3Ftu2yAr2k_I2Gjyzslak58tdKYs4N8TRNaOF2UMiBPebX3mA&usqp=CAU"
            alt="logo_drummond">
    </div>
    <!-- <div class="user_opts">
        <p>{{user}}</p>
        <div class="user_img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLe5PABjXc17cjIMOibECLM7ppDwMmiDg6Dw&usqp=CAU"
                alt="">
        </div>
    </div> -->
    <div class="container_list">
        <div class="user_opts">
            <p>{{user}}</p>
            <div class="user_img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLe5PABjXc17cjIMOibECLM7ppDwMmiDg6Dw&usqp=CAU"
                    alt="">
            </div>
        </div>
        <div class="list_opts">
            <div class="pointer" routerLink="/app/dashboard" class="link" routerLinkActive="activeLink">
                <a>{{'Dashboard' | titlecase}}</a>
            </div>
        </div>
        <!-- <div class="list_opts">
            <div class="pointer" routerLink="/app/gestionar-variables" class="link" routerLinkActive="activeLink">
                <a>{{'Gestionar Variables' | titlecase}}</a>
            </div>
        </div>
        <div class="list_opts">
            <div class="pointer" routerLink="/app/gestionar-usuarios" class="link" routerLinkActive="activeLink">
                <a>{{'Gestionar Usuarios' | titlecase}}</a>
            </div>
        </div> -->
        <div class="list_opts">
            <div class="pointer" class="link" [matMenuTriggerFor]="menu" aria-label="Example home icon">
                <a>{{'configuraciones' | titlecase}}</a>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="getUser(userInfo)">
                    <mat-icon>account_circle</mat-icon>Ver perfil
                </button>
                <button mat-menu-item (click)="navigatedTo('gestionar-usuarios')">
                    <mat-icon>manage_accounts</mat-icon>Gestionar Usuarios
                </button>
                <button mat-menu-item (click)="navigatedTo('gestionar-variables')">
                    <mat-icon>folder</mat-icon>Gestionar Variables
                </button>
                <button mat-menu-item (click)="openChangePassword(changePassword)">
                    <mat-icon>settings</mat-icon>Cambiar Contraseña
                </button>
                <button mat-menu-item (click)="logOut()">
                    <mat-icon>logout</mat-icon>Cerrar Sesión
                </button>
            </mat-menu>
        </div>
    </div>
</nav>

<ng-template #changePassword>
    <header class="header_users">
        <h2>Cambiar contraseña</h2>
        <button mat-button (click)="updatePassword()">
            <mat-icon>add_circle_outline</mat-icon>
            Guardar
        </button>
    </header>
    <section>
        <form class="change_password_container">
            <mat-form-field>
                <mat-label>Contraseña anterior</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="oldPass">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nueva contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="newPass">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </section>
</ng-template>

<ng-template #userInfo let-data>
    <header>
        <h2>Informacion de Usuario</h2>
    </header>
    <section>
        <div class="info_users">
            <label>
                <b>Nombre: </b>
                {{data.fullname}}
            </label>
            <label>
                <b>Email: </b>
                {{data.email}}
            </label>
            <label>
                <b>Role: </b>
                {{data.role}}
            </label>
        </div>
    </section>
</ng-template>