.nav_component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: #d91a36;
  height: 4em;
  .container_first_options {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    padding-left: 3em;
    height: 100%;
    img.sensomatic {
      box-shadow: inset 20em 1em white;
      height: 40px;
      width: 150px;
      margin-right: 3em;
    }
    img:not(.sensomatic) {
      box-shadow: inset 20em 1em white;
      height: 40px;
      width: 170px;
      margin-right: 3em;
    }
  }
  .user_opts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 9px;
    gap: 2em;
    width: 50%;
    & > .user_img {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      margin-bottom: 1em;
      img {
        border-radius: 50%;
        width: 3em;
        object-fit: contain;
      }
    }
    mat-icon {
      margin-bottom: 0.5em;
    }
  }
  .container_list {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    padding-left: 3em;
    height: 100%;
    .list_opts {
      display: flex;
      gap: 2em;
      .link {
        display: flex;
        align-items: center;
        padding: 2em;
      }
      .activeLink {
        background-color: #941225;
      }
      div > a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.header_users {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 2em;
  button {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}
.list_users {
  padding: 0 3em;
  table {
    width: 100%;
    margin-top: 2em;
    th {
      background-color: rgba(219, 214, 214, 0.911);
    }
    td {
      text-align: center;
    }
  }
}

.change_password_container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.info_users {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container_variables {
  .table_variables {
    border-collapse: separate;
    border-spacing: 3em 0.5em;
  }
}
