section.container_variable {
  height: 100%;
  width: 100%;

  header.name_route {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    .container_info {
      width: 50%;
      display: grid;
      grid-template-columns: 1fr 1fr 5fr;
      font-size: 1.2rem;
    }
  }
  div.filters_variables {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 0 5em;
  }
  .select_dates {
    padding-left: 5em;
  }
  main.information_variables {
    display: flex;
    height: 70%;
    .openerMap {
      position: absolute;
      right: 20em;
    }

    .container_map1,
    .container_map2 {
      border-right: 1px solid #d91a36;
      position: relative;
      transition: 0.4s;
      &.open {
        width: 100%;
        transition: 0.4s;
      }
      &.close {
        width: 0%;
        transition: 0.4s;
      }
      &.neutro {
        width: 50%;
        transition: 0.4s;
      }
      .container_opener,
      .container_opener2 {
        width: 2em;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 2;
        background-color: rgba(177, 169, 169, 0.418);
        opacity: 0;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          opacity: 1;
          transition: 0.4s;
        }
      }

      .container_opener {
        position: absolute;
        right: 0;
        border-radius: 7px 0 0 7px;
      }
      .container_opener2 {
        position: absolute;
        left: 0;
        border-radius: 0 7px 7px 0;
      }
      #map,
      #map2 {
        height: 100%;
        width: 100%;
      }
    }
  }
}
