<main>
    <section class="container_form">
        <article class="main_form">
            <header class="container_logo">
                <img src="../../assets/logo_sensomatic_sm.jpeg" height="80" width="80" alt="">
                <!-- <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQE5iizmDIcnCw/company-logo_200_200/0/1519868915161?e=2159024400&v=beta&t=NoiWW1aGqyFR4zD8BiQ_1rJTzWCdpu1CXFFaUHPTeLQ" alt="logo_drummond" height="100" width="100"> -->
            </header>
            <form class="login_form" [formGroup]="loginForm">
                <header class="title_login">
                    <!-- <h4>Inicio de sesión</h4> -->
                </header>
                <span class="or_login_email">
                    inicia sesion con email
                </span>
                <div class="input_fields">
                    <label>
                        <b>Email</b>
                        <input type="text" placeholder="example@mail.com" formControlName="email">
                    </label>
                    <label>
                        <b>Contraseña</b>
                        <input type="password" placeholder="******" formControlName="password">
                    </label>
                </div>
                <div class="forget_password">
                    <div>
                        Recordarme
                        <input type="checkbox">
                    </div>
                    <a (click)="resetPassword()">Olvidaste la contraseña</a>
                </div>
                <footer>
                    <div class="options_login">
                        <button class="login_button" (click)="login()">Inicio de Sesion</button>
                    </div>
                </footer>
            </form>
        </article>
        <aside class="background_drummond"></aside>
    </section>
</main>

<ng-template #forgot>
    <section class="modal_forgot">
        <label for="reset" class="reset">
            <b>Correo Electronico</b>
            <input type="text" id="reset" [formControl]="reset">
        </label>
        <button class="login_button pointer" (click)="sendMailReset()">Enviar correo</button>
    </section>
</ng-template>