@use "../../scss/base" as color;

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  button {
    cursor: pointer;
  }
  section.container_form {
    height: 90%;
    width: 80%;
    background-color: white;
    display: flex;
    @media only screen and (max-width: 450px) {
      height: 70%;
    }
  }
  article.main_form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 450px) {
      width: 100%;
    }
    header.container_logo {
      height: 15%;
      align-self: flex-start;
    }
    form.login_form {
      height: 80%;
      width: 50%;
      header.title_login {
        color: color.$main_font_color;
        font-size: 1.6rem;
      }
      div.login_google > button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        width: 100%;
        border: none;
        outline: none;
        padding: 0.7em;
        border: 1px solid #63636349;
        border-radius: 10px;
        margin-bottom: 3em;
        background-color: white;
        font-size: 0.7rem;
      }
      span.or_login_email {
        display: flex;
        color: #636363b9;
        margin-left: 5px;
        &::before {
          content: "";
          border-top: 2px solid #63636349;
          position: relative;
          width: 25%;
          top: 10px;
          right: 7px;
        }
        &::after {
          content: "";
          border-top: 2px solid #63636349;
          position: relative;
          width: 25%;
          top: 10px;
          left: 7px;
        }
      }
      div.input_fields {
        margin-top: 2.5em;
        & > label {
          display: flex;
          flex-direction: column;
          color: color.$main_font_color;
          margin-top: 10px;
          input[type="text"],
          input[type="password"] {
            border: none;
            outline: none;
            padding: 0.7em;
            border: 1px solid #63636349;
            border-radius: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
          }
        }
      }
      div.forget_password {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 3em;
        @media only screen and (max-width: 450px) {
          flex-direction: column;
          gap: 1em;
        }
      }
      footer > div.options_login {
        display: flex;
        flex-direction: column;
        button.login_button {
          height: 3em;
          outline: none;
          border: none;
          border-radius: 10px;
          background-color: color.$main_button_color;
          color: white;
          font-weight: 600;
        }
        small {
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  aside.background_drummond {
    height: 100%;
    width: 50%;
    background-image: url("https://www.drummondltd.com/wp-content/uploads/mines-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media only screen and(max-width:450px) {
      display: none;
    }
  }
}

.modal_forgot {
  display: flex;
  flex-direction: column;
  gap: 2em;
  .reset {
    display: flex;
    flex-direction: column;
    color: color.$main_font_color;
    input[type="text"] {
      border: none;
      outline: none;
      padding: 0.7em;
      border: 1px solid #63636349;
      border-radius: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    .cancel_button {
      background-color: #636363b9;
      color: white;
    }
  }
  button {
    height: 3em;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: color.$main_button_color;
    color: white;
    font-weight: 600;
    width: 40%;
  }
}
