<section class="dashboard_component">
    <!-- <div class="search_machine">
        <div>
            <input type="text" placeholder="Buscar por Nombre o ID" #search (keyup)="searchByText(search.value)">
            <mat-icon class="icon_search" (click)="searchByText(search.value)">
                search
            </mat-icon>
        </div>
        <div class="dowload_options">
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Turno</mat-label>
                <mat-select #turn>
                    <mat-option
                        *ngFor="let turno of [{value: 'Turno Dia', key:'day'}, {value:'Turno Noche', key:'night'}]"
                        [value]="turno.key">
                        {{turno.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button style="width: 8em;" (click)="dowloadGeneral(turn)">
                <mat-icon>add_circle_outline</mat-icon>
                Descargar
            </button>
        </div>
    </div> -->
    <div id="map"></div>
    <div style="margin-left: 9em; margin-top: 2em;">
        <button mat-button (click)="openModal(download)">
            <mat-icon>file_download</mat-icon>
            Descargar reportes
        </button>
    </div>
    <div class="container_machines" *ngIf="machines">
        <table class="list_variables">
            <tr>
                <th>Nombre de Maquina</th>
                <th>Ultima conexion</th>
                <th>Acciones</th>
                <th>Reportes</th>
            </tr>
            <tr *ngFor="let machine of machines">
                <td>{{ machine?.name }}</td>
                <td>{{ machine?.updatedAt | date:'short'}}</td>
                <td>
                    <a matTooltip="Mapa">
                        <mat-icon class="pointer" (click)="goToDetails('tracking', machine._id)">
                            map
                        </mat-icon>
                    </a>
                    <a matTooltip="Detalles">
                        <mat-icon class="pointer" (click)="goToDetails('details', machine._id)">
                            description
                        </mat-icon>
                    </a>
                </td>
                <td>
                    <mat-slide-toggle [checked]="machine['report']" (change)="activateReport($event, machine?._id)">
                        {{machine['report'] ? 'Desactivar Reportes' : 'Activar Reportes'}}</mat-slide-toggle>
                </td>
            </tr>
        </table>
        <!-- <div *ngFor="let machine of machines" class="machine">
            <p class="name_id">
                <span>{{machine?.name}}</span>
            </p>
            <p class="last_conexion">
                <span>Ultima conexion: {{machine?.updatedAt | date: 'short'}}</span>
            </p>
            <small class="opts_machine">
                <a class="pointer" (click)="goToDetails('tracking', machine._id)">Ver Tracking</a>
                <a class="pointer" (click)="goToDetails('details', machine._id)">Ver detalles</a>
            </small>
        </div> -->
    </div>
</section>

<ng-template #download>
    <header>
        <h3>Descarga de reportes</h3>
    </header>
    <section class="download_report" [formGroup]="formDownload">
        <div class="date">
            <mat-form-field>
                <mat-label>Fecha inicial</mat-label>
                <input matInput [matDatepicker]="start" formControlName="start">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fecha final</mat-label>
                <input matInput [matDatepicker]="end" formControlName="end">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Maquinas</mat-label>
                <mat-select multiple formControlName="machineIds">
                    <mat-option *ngFor="let machine of machines; index as i" [value]="machine._id">{{machine?.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <footer>
            <button mat-button (click)="reportsDownload()">
                <mat-icon>file_download</mat-icon>
                Descargar
            </button>
        </footer>
    </section>
</ng-template>