<app-navbar></app-navbar>
<section class="dashboard_component">
    <div class="search_machine">
        <input type="text" placeholder="Buscar por Nombre o ID" #search>
        <mat-icon class="icon_search" (click)="searchByText(search.value)">
            search
        </mat-icon>
    </div>
    <div class="container_machines" *ngIf="machines">
        <div *ngFor="let machine of machines" class="machine">
            <p class="name_id">
                <span>{{machine?.name}}</span> - <span>ID: {{machine?.id}}</span>
            </p>
            <p class="last_conexion">
                <span>Ultima conexion: {{machine?.updatedAt | date}}</span>
            </p>
            <small class="opts_machine">
                <a href="#">Ver Tracking</a>
                <a href="#">Ver detalles</a>
            </small>
        </div>
    </div>
</section>