.dashboard_component {
  .search_machine {
    margin: 3em 0;
    margin-left: 10.5em;
    & > input {
      width: 30%;
      height: 2.5em;
      background-color: #5353531a;
      color: black;
      box-shadow: inset 0px 3px 5px 0px #5353531a;
      outline: none;
      border:none;
      &::placeholder {
        color: black;
      }
    }
    & .icon_search {
      position: relative;
      right: 1.6em;
      top: 0.3em;
    }
  }
  .container_machines {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    padding: 2em 0;
    .machine {
      box-shadow: 0 0.1rem 8px rgba(0, 0, 0, 0.096);
      height: 6em;
      width: 15%;
      padding: 2em;
      border-radius: 7px;
      .name_id {
        line-height: 18px;
      }
      .last_conexion {
        line-height: 16px;
      }
      .opts_machine {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 14px;
        margin-top: 3em;
        & > a {
          color: #cecbcb;
        }
      }
    }
  }
}
