.dashboard_component {
  .search_machine {
    margin: 3em 0;
    margin-left: 10.5em;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 450px) {
      margin-left: 5em;
    }
    & > input {
      width: 30%;
      height: 2.5em;
      background-color: #5353531a;
      color: black;
      box-shadow: inset 0px 3px 5px 0px #5353531a;
      outline: none;
      border: none;
      &::placeholder {
        color: black;
      }
      @media only screen and (max-width: 450px) {
        width: 65%;
      }
    }
    & .icon_search {
      position: relative;
      right: 1.6em;
      top: 0.3em;
    }
    .dowload_options {
      display: flex;
      gap: 3em;
    }
  }
  .container_machines {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    padding: 2em 0;
    margin-left: 10.5em;
    @media only screen and (max-width: 450px) {
      margin-left: 5em;
    }
    table.list_variables {
      width: 90%;
      border-collapse: collapse;
      border: 1px solid rgba(0, 0, 0, 0.096);
      box-shadow: 0 0.1rem 8px rgba(0, 0, 0, 0.096);
      padding: 2em;
      tr {
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.096);
        th {
          font-size: 1.3rem;
          padding: 1em 1.7em;
        }
        td {
          font-size: 1.1rem;
          padding: 1em 2em;
          & > a {
            cursor: pointer;
            margin-right: 5px;
          }
        }
      }
    }
    .machine {
      box-shadow: 0 0.1rem 8px rgba(0, 0, 0, 0.096);
      height: 7em;
      width: 15%;
      padding: 2em;
      border-radius: 7px;
      @media only screen and (max-width: 450px) {
        width: auto;
      }
      .name_id {
        line-height: 18px;
      }
      .last_conexion {
        line-height: 16px;
      }
      .opts_machine {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 14px;
        margin-top: 3em;
        & > a {
          color: #d91a36;
        }
      }
    }
  }

  table {
    width: 100%;
  }
  .container_table {
    margin: 2em 10em;
  }
}
#map {
  height: 40em;
  width: 100%;
}
::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #4bb543;
}

::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #4bb543;
}
.floatOver {
  margin-bottom: 10em;
}

.download_report {
  .date {
    display: flex;
    gap: 1em;
  }
  footer {
    text-align: right;
  }
}
