section.container_variable {
  height: 100%;
  width: 100%;

  header.name_route {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    .container_info {
      width: 50%;
      display: grid;
      grid-template-columns: 1fr 1fr 5fr;
      font-size: 1.2rem;
    }
  }
  div.filters_variables {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 0 5em;
  }
  main.information_variables {
    table.list_variables {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid black;
    }
    padding: 0 5em;
  }
  .containerChart{
    display: flex;
    justify-content: center;
    align-items: center;
    canvas {
      margin-top: 2em;
      width: 90%!important;
    }
  }
}
