<section class="container_variable">
    <header class="name_route">
        <div class="container_info">
            <span>Machine</span>
            <span>
                <mat-icon>
                    keyboard_arrow_right
                </mat-icon>
            </span>
            <span>{{generalMachine?.name}}</span>
        </div>
        <div>
            <span class="pointer" [routerLink]="'../../tracking/'+machineId">Mapa</span> ,
            <span class="pointer" [routerLink]="'../../details/'+machineId">Variables</span>
        </div>
    </header>
    <div class="filters_variables" [formGroup]="date">
        <mat-form-field>
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="from" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="picker2" (click)="picker2.open()" formControlName="to" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button mat-button (click)="searchInfoByDate()" style="width: 8em;">
            <mat-icon>add_circle_outline</mat-icon>
            Buscar
        </button>
        <mat-form-field>
            <mat-label>Descargar PDF</mat-label>
            <mat-select (valueChange)="getPDF($event)">
                <mat-option value="day">Turno Dia</mat-option>
                <mat-option value="night">Turno Noche</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descargar Excel</mat-label>
            <mat-select (valueChange)="getExcel($event)">
                <mat-option value="day">Turno Dia</mat-option>
                <mat-option value="night">Turno Noche</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <button mat-button style="width: 10em;" (click)="downloadPDF(generalMachine?._id)">Descargar PDF</button>
        <button mat-button style="width: 10em;" (click)="downloadExcel(generalMachine?._id)">Descargar Excel</button> -->
    </div>
    <div class="select_dates" [formGroup]="date">
        <mat-form-field *ngIf="listDays?.length > 0">
            <mat-label>Fechas</mat-label>
            <mat-select formControlName="date">
                <mat-option *ngFor="let chart of listDays" [value]="chart">{{chart?.date | date}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="actual_date">
        {{actualDate | date:'longDate'}}
    </div>
    <div class="new_view">
        <div>
            <h2>
                <b>Turno Noche</b>
            </h2>
        </div>
        <div class="header_grid">
            <div *ngFor="let hours of ['6-7','7-8','8-9','9-10','10-11','11-12','12-1','1-2','2-3','3-4','4-5','5-6']"
                class="header_item">
                {{hours}}
            </div>
        </div>
        <div class="grid_content">
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:0:12" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:12:24" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:24:36" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:36:48" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:48:60" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:60:72" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:72:84" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:84:96" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:96:108" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:108:120" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:120:132" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['night'] | slice:132:144" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
        </div>
    </div>
    <div class="new_view">
        <div>
            <h2>
                <b>Turno Dia</b>
            </h2>
        </div>
        <div class="header_grid">
            <div *ngFor="let hours of ['6-7','7-8','8-9','9-10','10-11','11-12','12-1','1-2','2-3','3-4','4-5','5-6']"
                class="header_item">
                {{hours}}
            </div>
        </div>
        <div class="grid_content">
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:0:12" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:12:24" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:24:36" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:36:48" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:48:60" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:60:72" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:72:84" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:84:96" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:96:108" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:108:120" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:120:132" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
            <div class="grid-parent">
                <div *ngFor="let grid of schedules['day'] | slice:132:144" class="grid-item"
                    [ngStyle]="{'background-color': colors2[grid.value]}"></div>
            </div>
        </div>
    </div>
    <div class="containerChart">
        <div class="firstChart">
            <canvas id="dayTurn"></canvas>
        </div>
        <div class="secondChart">
            <canvas id="nightTurn"></canvas>
        </div>
    </div>
    <div class="newContainerCharts">
        <div class="firstChart">
            <canvas id="dayTurn1"></canvas>
        </div>
        <div class="secondChart">
            <canvas id="nightTurn1"></canvas>
        </div>
    </div>
    <main class="information_variables" *ngIf="dayTurn || nightTurn">
        <table class="list_variables">
            <tr>
                <th>Variable</th>
                <!-- <th>Ultima Conexión</th> -->
                <th>Turno dia</th>
                <th>Turno Noche</th>
            </tr>
            <tr *ngFor="let variable of tableDays;">
                <td>
                    {{variable?.variable}}
                </td>
                <!-- <td>
                    {{variable?.time | date}}
                </td> -->
                <td>
                    {{variable?.dayTurn}}
                </td>
                <td>
                    {{variable?.nightTurn}}
                </td>
            </tr>
        </table>
    </main>
</section>