section.container_variable {
  height: 100%;
  width: 100%;

  header.name_route {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    @media only screen and(max-width:450px) {
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: center;
      gap: 2em;
      padding: 0 1em;
    }
    .container_info {
      width: 50%;
      display: grid;
      grid-template-columns: 1fr 1fr 5fr;
      font-size: 1.2rem;
      @media only screen and(max-width:450px) {
        width: 100%;
        grid-template-columns: 0.3fr 0fr 1fr;
      }
    }
  }
  div.filters_variables {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 0 5em;
    margin-bottom: 2em;
    @media only screen and(max-width:450px) {
      width: 60%;
      grid-template-columns: none;
      button {
        justify-self: center;
      }
    }
  }
  main.information_variables {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
    table.list_variables {
      width: 90%;
      border-collapse: collapse;
      border: 1px solid rgba(0, 0, 0, 0.096);
      box-shadow: 0 0.1rem 8px rgba(0, 0, 0, 0.096);
      padding: 2em;
      tr {
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.096);
        th {
          font-size: 1.3rem;
          padding: 1em 1.7em;
        }
        td {
          font-size: 1.1rem;
          padding: 1em 2em;
        }
      }
    }
    padding: 0 5em;
  }
  .new_view {
    margin-bottom: 2em;
    .header_grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-flow: column;
      align-items: center;
      border: 1px solid black;
      .header_item {
        border: 1px solid black;
        text-align: center;
      }
    }
    .grid_content {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-flow: column;
      .grid-parent {
        display: flex;
        height: 10px;
        .grid-item {
          border: 1px solid black;
          width: 8.3%;
        }
      }
    }
  }
  .select_dates {
    padding-left: 5em;
  }
  .actual_date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.4rem;
  }
  .containerChart,
  .newContainerCharts {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;
    @media only screen and(max-width:650px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    .firstChart,
    .secondChart {
      height: 45%;
      width: 45%;
      &:hover {
        transition: 0.7s;
        box-shadow: 0 0.1rem 8px rgba(0, 0, 0, 0.096);
      }
      @media only screen and(max-width:450px) {
        width: 100%;
        height: 100%;
      }
    }
    canvas {
      margin-top: 2em;
    }
  }
}

.bold {
  font-weight: 600;
}
