<section class="container_variable">
    <header class="name_route">
        <div class="container_info">
            <span>Machine</span>
            <span>
                <mat-icon>
                    keyboard_arrow_right
                </mat-icon>
            </span>
            <span>{{generalMachine?.name}} - ID: {{generalMachine?.id}} - Mina: Descanso</span>
        </div>
        <div>
            <span class="pointer" [routerLink]="'../../tracking/'+machineId">Mapa</span> ,
            <span class="pointer" [routerLink]="'../../details/'+machineId">Variables</span>
        </div>
    </header>
    <div class="filters_variables" [formGroup]="date">
        <mat-form-field>
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="from">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="picker2" (click)="picker2.open()" formControlName="to">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="listDays?.length > 0">
            <mat-label>Fechas</mat-label>
            <mat-select formControlName="date">
                <mat-option *ngFor="let chart of listDays" [value]="chart">{{chart?.date | date}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button (click)="searchInfoByDate()" style="width: 8em;">
            <mat-icon>add_circle_outline</mat-icon>
            Buscar
        </button>
    </div>
    <div class="containerChart">
        <div class="turn_day">
            <canvas id="dayTurn"></canvas>
            <div class="legend_chart">
                <div *ngFor="let data of dayTurn" class="item">
                    <div class="color_variable">
                        <span [ngStyle]="{'background-color': colors[data.variable]}"></span>
                        {{data.variable}}
                    </div>
                    <div class="data_item">
                        <span>{{data.value}}min</span>
                        <small>({{ (100 * data.value) / dayTurn['total'] | number: '1.0-0'}}%)</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="turn_night">
            <canvas id="nightTurn"></canvas>
            <div class="legend_chart">
                <div *ngFor="let data of nightTurn" class="item">
                    <div class="color_variable">
                        <span [ngStyle]="{'background-color': colors[data.variable]}"></span>
                        {{data.variable}}
                    </div>
                    <div class="data_item">
                        <span>{{data.value}}min</span>
                        <small>({{ (100 * data.value) / nightTurn['total'] | number: '1.0-0' }}%)</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <main class="information_variables" *ngIf="dayTurn && nightTurn">
        <table border="1" class="list_variables">
            <tr>
                <th>Variable</th>
                <th>Ultima Conexión</th>
                <th>Valor</th>
            </tr>
            <tr *ngFor="let variable of generalMachine?.variables">
                <td>
                    {{variable?.variable}}
                </td>
                <td>
                    {{variable?.time | date}}
                </td>
                <td>
                    {{variable?.value}}
                </td>
            </tr>
        </table>
    </main> -->
</section>