section.container_variable {
  height: 100%;
  width: 100%;

  header.name_route {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    .container_info {
      width: 50%;
      display: grid;
      grid-template-columns: 1fr 1fr 5fr;
      font-size: 1.2rem;
    }
  }
  div.filters_variables {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 0 5em;
    margin-bottom: 2em;
  }
  main.information_variables {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    table.list_variables {
      width: 90%;
      border-collapse: collapse;
      border: 1px solid rgba(0, 0, 0, 0.096);
      box-shadow: 0 0.1rem 8px rgba(0, 0, 0, 0.096);
      padding: 2em;
      tr {
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.096);
        th {
          font-size: 1.3rem;
          padding: 1em 1.7em;
        }
        td {
          font-size: 1.1rem;
          padding: 1em 2em;
        }
      }
    }
    padding: 0 5em;
  }
  .select_dates {
    padding-left: 5em;
  }
  .containerChart,
  .newContainerCharts {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;

    .firstChart,
    .secondChart {
      height: 45%;
      width: 45%;
      &:hover {
        transition: 0.7s;
        box-shadow: 0 0.1rem 8px rgba(0, 0, 0, 0.096);
      }
    }
    // .turn_night,
    // .turn_day {
    //   display: flex;
    //   width: 50%;
    //   transition: 1s;
    //   padding: 2em;
    //   &:hover {
    //     transition: 0.7s;
    //     box-shadow: 0 0.1rem 8px rgba(0, 0, 0, 0.096);
    //   }
    //   .legend_chart {
    //     display: flex;
    //     flex-direction: column;
    //     height: 25em;
    //     overflow-y: scroll;
    //     width: 80%;
    //     gap: 2em;
    //     font-size: 12px;
    //     .item {
    //       display: flex;
    //       justify-content: space-around;
    //       .color_variable {
    //         width: 20em;
    //         display: flex;
    //         align-items: center;
    //         gap: 2em;
    //         span {
    //           display: block;
    //           width: 30px;
    //           height: 17px;
    //           border-radius: 11px;
    //         }
    //       }
    //       .data_item {
    //         display: flex;
    //         flex-direction: column;
    //         width: 5em;
    //         gap: 0.3em;
    //       }
    //     }
    //   }
    // }

    canvas {
      margin-top: 2em;
    }
  }
}

.bold {
  font-weight: 600;
}
